################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DesktopAxiasFutureApp/.vs/DesktopAxiasFutureApp/CopilotIndices/17.12.38.29086
/DesktopAxiasFutureApp/.vs/DesktopAxiasFutureApp/FileContentIndex
/DesktopAxiasFutureApp/.vs/DesktopAxiasFutureApp
/DesktopAxiasFutureApp/DesktopAxiasFutureApp/bin/Debug/net8.0-windows
